/* calc */

.calc__sign {
    display: inline-block;
}

/*.operators {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/


/* colors */

.colors {
    display: flex;
}

.green, .pink, .yellow, .blue, .violet {
    width: 25vw;
    height: 25vw;
    margin: 5%;
}

.green {
    background-color: darkseagreen;
}

.blue {
    background-color: cornflowerblue;
}

.yellow {
    background-color: #faf275;
}

.pink {
    background-color: pink;
}

.violet {
    background-color: mediumpurple;
}

/*gallery*/

.gallery {
    display: flex;
    align-items: center;
    justify-items: center;
}

.prev, .next {
    margin: 5%;
}

.photo {
    width: 50%;
}

.photo img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}